.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.form-group label.error_applicant_phone {
    color: #fb3a3a;
    display: inline-block;
    padding: 0;
    text-align: left;
    width: 100%;
}